.field_with_errors {
    border: 2px solid rgb(128, 81, 81);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

body {
    background-color: rgb(151, 63, 63);
}

.logo {
    margin-left: 160px;
    height: 70px;
    margin-top: 15px;
}

.topnav {
    overflow: hidden;
    background-color: black;
    height: 100px;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Style the "active" element to highlight the current page */


/* Style the search box inside the navigation bar */



.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

.share {
    float: right;
    font-size: 40px;
    color: grey;
    outline: rgb(174, 161, 187);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin-right: 50px;
}

.share:hover {
    color: rgb(0, 255, 191)
}

.input {
    margin-right: 300px;
}




   

.profile_img img {
    height: 160px;
    margin-top: 20px;
}

img {
    max-width: 600px;
    max-height: 600px;
}