.field_with_errors {
    border: 2px solid rgb(128, 81, 81);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

body {
    background-color: rgb(151, 63, 63);
}

.logo {
   
    height: 80px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
}

.topnav {
    overflow: hidden;
    background-color: white;
    height: 100px;
}
.userlogin {
    float: right;
   margin-right: 10px;
}

.home{
    margin-left: 40px;
    margin-top: 25px;
    font-size: 50px;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: white;
}





.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
}


/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

.share {
    
    font-size: 40px;
    color: white;
    outline: rgb(174, 161, 187);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    
    margin-left: 600px;
   
}

.share:hover {
    color: rgb(0, 255, 191)
}

.input {
    margin-right: 300px;
}


.profile_img img {
    height: 90px;
    margin-top: 5px;
    float: right;
    margin-right: 30px;
    margin-bottom: 10px;
}


.postThumbnail{
    max-width: 100px;

}

.comment {
  border: 1px solid black
}

.main{
    width: 60%;
    margin: auto;
}

.title{
    color: solid black
}
footer {
    bottom: 0;
 }




   

